.cproject
.idea/
.project
.settings/
build/
cmake-build-debug/
cmake-build-debug-wsl/
cmake-build-release/
cmake-build-release-wsl/
Data/
Scripts/PMFrunBenchmark.sh
test/instances/ahrem*
test/instances/bonn*
test/instances/randomInstance*
