.cproject
.idea/
.project
.settings/
*.pdf
*.zip
*.png
*.svg
*.csv
*.s
*.o
*.a
*.class
*.binary*
*.tex
*.conf
*.gml
*.nd
*.vp
*.hgr*
*.conf
*.data
*.exe
build/
cmake-build-debug/
cmake-build-debug-wsl/
cmake-build-release/
cmake-build-release-wsl/
*readcache
Data/
Runnables/*.txt
Runnables/test.txt
Runnables/settings.conf
Runnables/temp*
Runnables/mongoose.so
Runnables/FlowShell
Scripts/PMFrunBenchmark.sh
test/instances/ahrem*
test/instances/bonn*
test/instances/randomInstance*
