.cproject
.project
.settings/
*.pdf
*.zip
*.png
*.svg
*.csv
*.s
*.o
*.a
*.class
*.binary*
*.tex
*.conf
*.gml
*.nd
*.vp
*.hgr*
*.conf
*.data
*.exe
*readcache
MapServer/HalloWorldMapServer
ProtocolBuffer/ParseRealTimeGTFS
Runnables/*.txt
Runnables/test.txt
Runnables/settings.conf
Runnables/temp*
Runnables/mongoose.so
Runnables/Assignment
Runnables/BenchmarkShell
Runnables/BikeSharing
Runnables/CH
Runnables/DelayExperimentsShell
Runnables/DemandMapServer
Runnables/EvaluationShell
Runnables/GraphServer
Runnables/IsochroneShell
Runnables/MultimodalCoverageShell
Runnables/NetworkBuilder
Runnables/NetworkOrderShell
Runnables/PartitionShell
Runnables/PdfCompare
Runnables/PublicTransitHyperGraphs
Runnables/QueriesShell
Runnables/RaptorMapServer
Runnables/RouteFlagsExperimentsShell
Runnables/StackSampler
Runnables/ULTRA
Runnables/UltraAssignment
Runnables/ULTRAExperimentsShell
Runnables/UnitTests
Runnables/UnrestrictedWalkingShell
Runnables/ValidationShell
Runnables/Standalones/Build
